body ,ul, text, a{
    margin: 0px;
    color: white;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 20px;
}
body{
    background: rgb(0, 0, 0);
}
.header-site{
    height: 60px;
    align-items: center;
    background: rgb(22, 22, 22);
    display: flex;
    justify-content: space-between;
}
.menu{
    display: flex;
    gap: 20px;
    margin: 20px;
    background: rgb(22, 22, 22);
    
}
.menu li a:hover{
    background: rgb(56, 54, 54);
}
.logo{
    margin: 20px;
}
.login{
    background-image: linear-gradient(to top,rgba(0, 0, 0, 0.342),rgba(53, 53, 53, 0.644));
    width: 300px;
    height: 360px;
    margin-left: 40%;
    margin-top: 200px;
    text-align: center;
    border-radius: 10px;
}
.login h1{
    padding-top: 10px;
    border-bottom: 5px solid rgb(29, 28, 28);
}
.login h2{
    font-size: 18px;
}
.login input{
    font-size: 20px;
    background: rgb(15, 15, 15);
    border: 0px;
    height: 35px;
    width: 250px;
    color: white;
    font-size: 15px;
    text-align: center;
    border-radius: 5px;
    transition: 0.7s;
}
.login input:hover{
    background: rgb(49, 49, 49);
}
.login button{
    margin-top: 20px;
    font-size: 20px;
    margin-bottom: 15px;
    background-color: rgb(49, 48, 48);
    color: white;
    padding: 12px;
    border: 0px;
    border-radius: 10px;
    transition: 1s;
}
.login button:hover{
    background: rgb(66, 66, 66);
}
@media (max-width: 600px) {
    body ,ul, text, a{
        font-size: 15px;
    }
    .login{
        margin-left: 23%;
        margin-top: 15%;
    }
}